html, body {
    margin 0; 
    background: #111; 
    height: 100%;
    overflow: hidden;
}

#snake-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    color: #fff;
}