body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: #131313;
    color: #00ff6a;
    margin-bottom: 200px;
    margin: 0;
}

/* Navigatsiooniriba */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    padding: 15px 30px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #00ff6a;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #00ff6a;
    transition: transform 0.2s ease;
}

.nav-links a:hover {
  transform: scale(1.08); /* slight zoom */
}
/* Navriba lõpp */

.title {
    margin-top: 60px;
    text-shadow: 0 0 10px #00ff6a, 0 0 10px #00ff6a;
}

.tutorial {
    text-align: left;
    width: 475px;
    margin: 5px auto;
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 60px;
}

.tutorial-title {
    margin-left: 20px;
}

.juhised li{
    margin-bottom: 10px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    /* Asetab mängu keskele */
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    /* Vahe ruutude vahel */
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* määrame erinevate väärtuste taustavärvid ja tekstivärvid */
.x2 {
    background-color: #eee4da;
    color: #776e65;
}
.x4 {
    background-color: #ede0c8;
    color: #776e65;
}
.x8 {
    background-color: #f2b179;
    color: #f9f6f2;
}
.x16 {
    background-color: #f59563;
    color: #f9f6f2;
}
.x32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}
.x64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}
.x128 {
    background-color: #edcf72;
    color: #f9f6f2;
}
.x256 {
    background-color: #edcc61;
    color: #f9f6f2;
}
.x512 {
    background-color: #edc850;
    color: #f9f6f2;
}
.x1024 {
    background-color: #edc53f;
    color: #f9f6f2;
}
.x2048 {
    background-color: #edc22e;
    color: #f9f6f2;
}
.x4096 {
    background-color: #3c3a32;
    color: #f9f6f2;
}
.x8192 {
    background-color: #3c3a32;
    color: #f9f6f2;
}